<h3 class="mb-4 mt-6">Current books</h3>

<ul class="list-reset">
  {{#each this.model as |book|}}
    <li class="text-grey-darkest"><button class="text-grey font-hairline hover:text-red" {{on "click" (fn this.removeBook book)}}>[X]</button> {{book.title}}</li>
  {{/each}}
</ul>

<h3 class="mb-4 mt-6">Add new</h3>

<BookEntry class="mt-4 text-grey-darkest" @onSubmit={{fn this.createBook}} @book={{this.bookEntry}}>
  <div class="block mt-2">
    <button class="rounded border border-grey-dark py-2 px-4 font-semibold text-grey-darker hover:text-red hover:border-red" role="submit">Create</button>
  </div>
</BookEntry>

<div class="fixed pin-t pin-r py-2 px-4">
  <button {{on "click" (fn this.refresh)}} class="text-grey border border-grey rounded py-2 px-4">Reload</button>
</div>

{{outlet}}
